/* --------------------------------- */
/* ----- YOMITAN POPUP STYLING ----- */
/* ---- Last Updated 2025-04-13 ---- */
/* --------------------------------- */

/* --------------- GENERAL --------------- */

body {
    font-family: "Noto Sans JP", "Hiragino Mincho ProN", "Noto Serif JP","ヒラギノ明朝 ProN", system-ui;
    font-size: clamp(0.7rem, 3vw, 0.9rem);
}

/* --- Term --- */
.headword {
    font-family: "Noto Serif JP", system-ui;
    font-size: 110%;
}

/* --- Furigana --- */
.headword-reading  {
    font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", system-ui;
    font-size: 110%;
}

.headword ruby rt {
    margin-top: -5px;
    margin-bottom: -5px;
    color: aquamarine;
}

.headword-list-tag-list .tag {
    font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN", system-ui;
}

.headword-list-tag-list .tag {
    margin: 2.5px;
    margin-top: 6px;
}

.headword-list-tag-list .tag:first-child {
    margin-left: 1em;
}

.headword-list-tag-list .tag .tag-label {
    --tag-color: #4B6F56;
}

.headword-list-tag-list {
    margin-left: -2.5px;
}

.entry-body-section {
    margin: 4px 0;
}

.frequency-item {
    font-family: 'noka-mono', 'Courier New', monospace; 
}

/* --------------- DICTIONARY SPECIFIC --------------- */

:root[data-theme="dark"] {
    /* --background-color: #212228; */
    /* --background-color: #282828; */
    --background-color: #26282c;
    --tag-dictionary-background-color: #294be3;

    .definition-item[data-dictionary='大辞泉 第二版'] {
        --daijisen-black: #FFFFFF;
        --daijisen-white: #000000;
        --daijisen-blue: #00AAFF;
        --daijisen-header-djs: #A0484F;
        --daijisen-header-djsp: #7A7A7A;
        --daijisen-header-text: #000000;
        --daijisen-logo-color: #DDDDDD;
        --daijisen-background-l3: #C0C0C0;
        --daijisen-accent-mark: #FF6666;
        --daijisen-accent-slash: #A0A0A0;
    }

    .definition-item[data-dictionary='明鏡国語辞典 第三版'] {
        --meikyo-white: #000000;
        --meikyo-black: #CCCCCC;
        --meikyo-red: #FF3333;
        --meikyo-gray: #BBBBBB;
        --meikyo-pink: #CC6666;
        --meikyo-dark-red: #993333;
        --meikyo-fbox-white: #FFFFFF;
        --meikyo-fbox-gray: #CCCCCC;
        --meikyo-box-gray: #663333;

        .gloss-sc-span[data-sc-class="gaiji"] .gloss-image {
            -webkit-filter: invert(90%);
            filter: invert(90%);
        }
    }
}

/* --------------- FREQUENCY DICT COLORS --------------- */

.frequency-group-item[data-details="CC100"]>.tag {
    --tag-color: #6E5CC4;
    --tag-text-color: black;
}

.frequency-group-item[data-details="JPDBv2㋕"]>.tag {
    --tag-color: #F1A208;
    --tag-text-color: black;
}

.frequency-group-item[data-details="JLPT"]>.tag {
    --tag-color: #FF8360;
    --tag-text-color: black;
}

.frequency-group-item[data-details="BCCWJ"]>.tag {
    --tag-color: #4b83e4;
    --tag-text-color: black;
}

.frequency-group-item[data-details="VN Freq"]>.tag {
    --tag-color: #E7F9A9;
    --tag-text-color: black;
}

.frequency-group-item[data-details="Narou Freq"]>.tag {
    --tag-color: #c14343;
    --tag-text-color: black;
}

.frequency-group-item[data-details="Novels"]>.tag {
    --tag-color: #13824e;
    --tag-text-color: black;
}

.frequency-group-item[data-details="Innocent Ranked"]>.tag {
    --tag-color: #821368;
    --tag-text-color: black;
}

.frequency-group-item[data-details="Anime & J-drama"]>.tag {
    --tag-color: #72ac15;
    --tag-text-color: black;
}

.frequency-group-item[data-details="Wikipedia"]>.tag {
    --tag-color: #343434;
    --tag-text-color: #d3d3d3;
}
.frequency-group-item[data-details="Netflix"]>.tag {
    --tag-color: #232323;
    --tag-text-color: #d41b1b;
}
.frequency-group-item[data-details="Youtube"]>.tag {
    --tag-color: #e70101;
    --tag-text-color: #d7d7d7;
}

/* --------------- PITCH DICT COLORS --------------- */

.tag[data-details="大辞泉"] {
    --tag-color: #97EAD2;
    --tag-text-color: black;
    --margin-left: -2.5px;
}

.tag[data-details="アクセント辞典"] {
    --tag-color: #97EAD2;
    --tag-text-color: black;
}

/* --------------- TMW DICT --------------- */

span.frequency-group-tag:has(span[data-display-value="Owner"]) {
    --tag-color: #F8DBA6;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Immortal Idol"]) {
    --tag-color: #53D9AF;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Eternal Idol"]) {
    --tag-color: #4188e7;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Divine Idol"]) {
    --tag-color: #4b54d9;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Prima Idol"]) {
    --tag-color: #876be0;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Major Idol"]) {
    --tag-color: #d275e1;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Debut Idol"]) {
    --tag-color: #ff6a8f;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Trainee"]) {
    --tag-color: #819d5c;
    --tag-text-color: black;
}

span.frequency-group-tag:has(span[data-display-value="Student"]) {
    --tag-color: #d04d4d;
    --tag-text-color: black;
}

/* --------------- FREQUENCIES --------------- */

.frequency-group-list {
    margin-left: -1.75px;
}

.frequency-group-item .tag {
    margin: 1.75px;
}

/* --------------- INFLECTIONS --------------- */

.inflection {
    font-weight: bold;
    font-size: 70%;
}

.inflection::before {
    font-weight: normal;
    font-size: 70%;
}

.inflection-list>.inflection+.inflection-separator+.inflection::before {
    content: "|";
}

.inflection-source-icon[data-inflection-source="algorithm"]::after {
    content: "🌸";
}

/* ---------------DEFINITIONS ---------------*/

.definition-list {
    padding: 0;
}

.definition-tag-list {
    float: left;
    line-height: 1;
    height: 1em;
    margin-top: -2px;
}

.definition-item {
    display: inline-block;
    margin-bottom: 10px;
    margin: 0 calc(0px - var(--entry-horizontal-padding));
    width: 100%;
    padding: 4px calc(var(--entry-horizontal-padding)) 4px calc(var(--entry-horizontal-padding));

    --small-border: 1px solid rgba(255, 255, 255, 0.15);
    --big-border: 0.14rem solid color-mix(in oklab, var(--dict-color) 50%, transparent);

    &:has(.tag[data-category='dictionary']) {
        border-top: var(--small-border);
    }

    &:has(.tag[data-category='dictionary']:first-child) {
        border-top: var(--big-border);
    }

    &:last-child {
        border-bottom: var(--small-border);
    }
}

.gloss-content br {
    display: block;
    margin: 4px;
    content: " ";
}

/* ---------------DICT: 三省堂 ---------------*/
.definition-item[data-dictionary="三省堂国語辞典　第八版"] 
{
    --dict-color: #6e5cc4;

    background-color: #6d5cc41a;
    font-size: 90%;
    color: #b8b5c3;

    .tag[data-details^="三省堂国語辞典　第八版"] {
        --tag-color: #6e5cc4;
    }

    .gloss-content {
        line-height: 110%;
    }

    .gloss-sc-span[data-sc-name="homophone"] {
        margin-right: 0.3em;
    }

    .gloss-sc-span[data-sc-name="見出部"],
    .gloss-sc-span[data-sc-name="子見出部"] {
        font-size: 110%;
        color: #ffffff;
    }

    /* word: 面 */
    .gloss-sc-span[data-sc-name="見出部要素"] {
        font-size: 110%;
        color: #c6baff;
    }

    .gloss-sc-span[data-sc-name="品詞G"] {
        font-size: 90%;
        color: #6e5cc4;
    }

    .gloss-sc-span[data-sc-name="語釈"] {
        color: white;
    }

    .gloss-content > .gloss-sc-div:first-of-type {
        padding-top: 0.4em;
    }

    .gloss-content > .gloss-sc-div:last-of-type {
        padding-bottom: 0.4em;
    }

    .gloss-sc-div[data-sc-name="語義"]:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .gloss-sc-div:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .gloss-sc-span[data-sc-name="語義番号"] {
        margin-right: 0.3em;
        font-size: 120%;
        color: #bf87ff;
    }

    .gloss-sc-div[data-sc-name="用例G"] {
        margin-left: 1.1em;
        font-size: 92%;
        color: #8676e0;
    }

    /* word: 面 */
    .gloss-sc-span[data-sc-name="対義語G"] {
        margin-left: 1.1em;
    }

    .gloss-sc-span[data-sc-name="注記"] {
        color: #d5cdff;
    }

    .gloss-sc-span[data-sc-name="ルビ"] {
        color: #a19cb5;
    }

    /* .gloss-sc-div[data-sc-name="共通"],
    .gloss-sc-div[data-sc-name="自動詞形G"],
    .gloss-sc-div[data-sc-name="可能形G"] {
        color: #9d95c2;
    }

    .gloss-sc-span[data-sc-name="使用域G"] {
        color: #9d95c2;
    } */
}

/* ---------------DICT: 大辞泉 第二版 ---------------*/
.definition-item[data-dictionary='大辞泉 第二版'] {
    /* ----------- */
    /* -- Fonts -- */
    /* ----------- */
    div[data-sc-headertitle],
    div[data-sc-header-title],
    span[data-sc-headword][data-sc見出],
    span[data-sc-hhyphen],
    span[data-sc-l4],
    span[data-sc-rect],
    span[data-sc-circle],
    span[data-sc補足ロゴ-g],
    span[data-sc季語-m],
    span[data-sc-bold],
    span[data-sc常外音訓-m],
    span[data-sc常外-m],
    span[data-sc付表有-m],
    span[data-sc付表無-m],
    div[data-sc-contents],
    span[data-sc季語],
    span[data-sc歌枕-m],

    span[data-sc-italic],

    span[data-sc-gaiji][data-sc-keigashira] {
        font-family: "Heiti TC";
    }

    /* ----------------------- */
    /* -- Optional settings -- */
    /* ----------------------- */

    /* Uncomment to show the 類語 section with links to other entries (Hidden by default)*/
    /*
    div[data-sc-meaning][data-sc-c][data-sc-class="C"]:has(span[data-sc-href="$c-ruigo"]),
    div[data-sc-meaning][data-sc-c][data-sc-class="C"]:has(span[data-sc-href="$c-ssgo"]) {
        display: block;
    }
    */

    /* Uncomment to show the Pitch accent element (Hidden by default)*/
    /*
    div[data-sc-m-accent-audio-g] {
        display: block;
    }
    */
}

/* --------------- DICT: 明鏡国語辞典 第三版 --------------- */

.definition-item[data-dictionary="明鏡国語辞典 第三版"] {
    [data-sc-body],
    span[data-sc-rect],
    span[data-sc-katsuyo],
    span[data-sc-headword][data-sc-class="旧かな"],
    span[data-sc-fbox0],
    span[data-sc-fbox],
    span[data-sc-e-m],
    span[data-sc-em],
    div[data-sc-class="shikiri"] div[data-sc-meaning],
    span[data-sc-meaning][data-sc-class="columntitle"],
    div[data-sc-meaning][data-sc-class="columntitle"],
    span[data-sc-b],
    a,
    span[data-sc-bc]  {
        font-family: "Hiragino Kaku Gothic ProN";
    }

    div[data-sc-example],
    span[data-sc-fbox][data-sc-class="品格"],
    span[data-sc-headword][data-sc-class="表記"],
    span[data-sc-headword][data-sc-class="原綴"],
    span[data-sc-zoomkanji] {
        font-family: "Hiragino Mincho ProN";
    }

    span[data-sc-pron] {
        font-family: "Doulos SIL";
    }
}

/* --------------- DICT: デジタル大辞泉 --------------- */

.definition-item[data-dictionary="デジタル大辞泉"] {
    --dict-color: #587B7F;

    font-size: 90%;

    background-color: color-mix(in oklab, var(--dict-color) 10%, transparent);
    color: color-mix(in oklab, var(--dict-color) 20%, white);

    .tag[data-details^="デジタル大辞泉"] {
        --tag-color: var(--dict-color);
    }
}

/* --------------- PITCH --------------- */

.pronunciation-group-list {
    padding-left: 0.7em !important;
}

li.pronunciation-group {
    list-style-type: none;
}

.pronunciation-text-container {
    font-family: "Noto Sans JP", system-ui;
    font-size: 110%;
}

.pronunciation-downstep-notation {
    margin-left: 0.2em;
    /* color: #7190be; */
    color: #37e3b2cc;
    /* font-weight: bold; */
}

.pronunciation:nth-child(n+2) {
    margin-left: 0.2em;
}


/* --------------- KANJI DICTS --------------- */

/* remove misc dict classifications/codepoints/stats */
.kanji-glyph-data>tbody>tr:nth-child(n + 3) {
    display: none;
}

/* remove stroke diagram, freq, header for next entries */
div.entry[data-type='kanji']:nth-child(n + 2) .kanji-glyph-container,
div.entry[data-type='kanji']:nth-child(n + 2) [data-section-type='frequencies'],
div.entry[data-type='kanji']:nth-child(n + 2) table.kanji-glyph-data>tbody>tr:first-child {
    display: none;
}

/* remove 'No data found' */
.kanji-info-table-item-value-empty {
    display: none;
}

/* reduce extra padding */
.kanji-glyph-data,
div.entry[data-type='kanji'],
div.entry[data-type='kanji']:nth-child(n + 2) .kanji-glyph-data>tbody>tr>*,
.kanji-glyph-data dl.kanji-readings-japanese,
div.entry[data-type='kanji']:nth-child(n + 2) .kanji-glyph-data dl.kanji-readings-chinese[data-count='0'] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0em;
    margin-top: 0 !important;
}

/* remove horizontal lines */
.entry+.entry[data-type='kanji'],
div#dictionary-entries>div.entry:nth-child(n + 2) .kanji-glyph-data>tbody>tr>* {
    border-top: none !important;
}

/* change decimal list */
.kanji-gloss-list {
    list-style-type: circle;
}   

/* --------------- OPTIONAL AUXILARY OPTIONS --------------- */

/* Only shows the first 7 frequency lists */
span.frequency-group-item:nth-child(n+4) {
    display: none;
}

/* Hides the add reading button */
button[title^="Add reading"] 
{
    display:none;
}